body {
  max-width: max-content;
  margin: auto;
}

input {
  padding: 8px 23px;
  font-size: 20px;
}

input:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

thead {
  background-color: black;
  color: white;
}

.grey {
  background-color: rgb(211 210 210);
}
